body{
  color: white;
  background-color: DarkSlateGray;
  margin-left: 50px;
}
p{
  max-width: 900px;
}
/* Header */
header{
  background-color: MistyRose;
  margin: auto;
  width: 80%;
  min-width: 500px;
  overflow: auto;
}
header h1{
  float: left;
  margin: 2% 5%;
  padding: 0;
  width: 30%;
}
.header-left{
  float: left;
  display: block;
  width: 25%;
  min-width: 150px;
  margin: 1%;
}
.top-nav{
  float: left;
  width: 25%;
}
/* Table Stuff */
table{
  border-collapse: collapse;
}
tr:nth-child(even){
  background-color: DarkSalmon;
}
tr:nth-child(odd){
  background-color: Pink;
}

table, th, td {
    border: 1px solid white;
}
th, td {
  padding: 5px;
}
th{
  background-color: Gray;
  color: DarkSlateGray;
}
td{
  color: black;
}
/* Form stuff */
input{
  vertical-align: middle;
  width: 200px;
}
input[type='image']{
  padding-top: 20px;
  width: 150px;
}
input[type='text'], input[type='number']{
  background-color: MistyRose;
}
form{
  font-family: verdana;
  padding-top: 50px;
}
fieldset{
  max-width: 500px;
}
legend, h1, h2{
  color: LightSalmon;
}
.form-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-position: inside;
}
.newLocationLabel{
  margin-right: 20px;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: pink;
}
.form-input{
  padding: 5px;
}
