body{
  color: White;
  background-color: DarkSlateGray;
}
p{
  max-width: 800px
}
h2{
  color: LightSalmon;
}
table{
  border-collapse: collapse;
}
tr:nth-child(even){
  background-color: DarkSalmon;
}
tr:nth-child(odd){
  background-color: Pink;
}

table, th, td {
    border: 1px solid white;
}
th, td {
  padding: 5px;
}
th{
  background-color: Gray;
  color: DarkSlateGray;
}
td{
  color: black;
}
form{
  font-family: verdana;
}
.form-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-position: inside;
}
.newLocationLabel{
  margin-right: 20px;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px
}
