body{
  color: pink;
  background-color: DarkSlateGray;
}
h2, h3{
  color: white;
}
table{
  border-collapse: collapse;
}
tr:nth-child(even){
  background-color: DarkSalmon;
}
tr:nth-child(odd){
  background-color: Pink;
}

table, th, td {
    border: 1px solid white;
}
th, td {
  padding: 5px;
}
th{
  background-color: Gray;
  color: DarkSlateGray;
}
td{
  color: black;
}
form{
  font-family: verdana;
}
fieldset{
  max-width: 500px
}
legend, h1{
  color: LightSalmon;
}
li{
  padding: 5px;
}
.form-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-position: inside;
}
.newLocationLabel{
  margin-right: 20px;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px
}
input{
  vertical-align: middle;
  width: 200px;
}
input[type='image']{
  padding-top: 20px;
  width: 150px;
}
input[type='text'], input[type='number']{
  background-color: MistyRose;
}
